{% extends 'auth/main/main.html' %}
{% load static %}
{% block content %}
    <section class="sign-in-page">
        <div class="container p-0" id="sign-in-page-box">

            <div class="bg-white form-container sign-in-container">
                <div class="sign-in-page-data">
                    <div class="sign-in-from w-100 m-auto">
                        <h1 class="mb-3 text-center">Two-Factor Verification</h1>
                        <p class="text-center text-dark">Enter the 6-digit code from your authenticator app.</p>

                        <form method="post" class="mt-4">
                            {% csrf_token %}

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}

                            <div class="form-group">
                                <label for="otp">Authentication Code</label>
                                <input type="text" name="otp" class="form-control" required placeholder="e.g. 123456">
                            </div>

                            <div class="sign-info">
                                <button type="submit" class="btn btn-primary mb-2 w-100">Verify</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <a class="sign-in-logo mb-5" href="#">
                            <img src="{% static 'dashboard/images/logo.png' %}" class="img-fluid" alt="logo">
                        </a>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="btn iq-border-primary mt-2" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <a class="sign-in-logo mb-5" href="#">
                            <img src="{% static 'dashboard/images/logo.png' %}" class="img-fluid" alt="logo">
                        </a>
                        <h3 style="color: #00d0ff">Owasp WafControl</h3>
                        <br>
                        <h>This project utilizes OWASP Core Rule Set — special thanks to the CRS maintainers</h>

                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block js %}
{% endblock %}
